@import "tailwindcss";
@import "uniwind";

@theme {
  /* Design Tokens for React Native Reusables (Shadcn Mobile) */
  --color-background: #ffffff;
  --color-foreground: #211201; /* Your backend --ww-hd-dark scale */

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-popover: #ffffff;
  --color-popover-foreground: #211201;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;

  --color-primary: #875605; /* Your backend --ww-hd-gold scale */
  --color-primary-foreground: #ffffff;

  --color-accent: #fbf5ee;
  --color-accent-foreground: #875605;

  --font-sans: "Montserrat";
}

/* Base Dark Mode overrides if matching device settings */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-foreground: #f5f5f5;
    --color-border: #27272a;
    --color-input: #27272a;
  }
}
